body{
    background-color:blanchedalmond;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    bor

}
div{
    
    margin: 20px;
}
#frm{
    height: 400px;
    width: 800px;
    text-align: center;
}